.bp-reactions-emoji {
	display: inline-block;
	margin-left: 0.6em;
	float: right;
}

#buddypress .activity-reactions a {
	display: inline-block;
	margin-right: 0.6em;
	cursor: pointer;
}

#buddypress .activity-reactions a,
#buddypress .activity-reactions a.reacted:hover {
	opacity: 0.55;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

#buddypress .activity-reactions a.reacted,
#buddypress .activity-reactions a:hover {
	opacity: 1;
	-webkit-filter: none;
	filter: none;
}

#buddypress .activity-list .activity-meta .react.open {
	border-bottom: 1px solid #FFF;
	background-color: #FFF;
}

#buddypress .activity-reactions {
	display: none;
}

#buddypress .activity-reactions.active {
	display: block;
	margin: -1px 0 0 70px;
	border-top: 1px solid #ccc;
	padding-top: 0.6em;
}

body.activity-permalink #buddypress .activity-reactions.active {
	margin: -7px 0 0 70px;
}
